{
    "desc_comment": "0707",
    "lean_app_id": "IKkFUaIymCdqmOK9UN8uGA9f-gzGzoHsz",
    "lean_app_key": "G4bn2WAiLYHLtIDaRBGeopBm",
    "lean_master_key": "6U5iQuPROGKNKzLVoOdxzviX",
    "lean_username": "zxcvb@maildrop.cc",
    "lean_password": "",
    "lean_phone": "18888888888",
    "lean_verifiedcode": "255676",
    "lean_url": "zxcvb.leanapp.cn",
    "lean_app_name": "test",

    "lean_debug_comment": "是否开启leancloud debug模式",
    "lean_debug": true,
    "lean_stg_comment": "1:生产环境 0:预备环境",
    "lean_stg": 0,

    "project_build_type_comment": "打包类型wx:微信 app:Cordova APP web:Web(保留)",
    "project_build_type": "wx",
    "wx_app_id_pub_comment": "微信公众号appId",
    "wx_app_id_pub": "",
    "wx_app_secret_pub_comment": "微信公众号appSerret",
    "wx_app_secret_pub": "",
    "wx_token": "",
    "wx_mach_id_pub_comment": "微信公众平台配置的微信商户平台的商户ID",
    "wx_mach_id_pub": "",
    "wx_mach_secret_pub_comment": "微信公众平台配置的微信商户平台的商户秘钥",
    "wx_mach_secret_pub": "",
    "wx_app_id_comment": "微信native appId",
    "wx_app_id": "",
    "wx_app_secret_comment": "微信native appSecret",
    "wx_app_secret": "",
    "wx_mach_id_comment": "微信开放平台配置的微信商户平台的商户ID",
    "wx_mach_id": "",
    "wx_mach_secret_comment": "微信native 商户秘钥",
    "wx_mach_secret": "",
    "alipay_app_id_comment": "支付宝appId",
    "alipay_app_id": ""
}